.Nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  &-logo {
    height: 100%;
    opacity: 0.9;
    transition: opacity 100ms ease;

    &:hover {
      opacity: 1;
    }

    &-img {
      height: 100%;
      filter: drop-shadow(0 1px 0 rgba(0,0,0,.12))
              drop-shadow(1px 1px 0 rgba(0,0,0,.12));
    }
  }
}
