.Nav {
  display: flex;
  justify-content: space-between;
  height: 72px;
  padding: 1rem 2rem;
  margin-bottom: 1rem;

  &-logo {
    height: 100%;
    opacity: 0.8;
    transition: opacity 100ms ease;

    &:hover {
      opacity: 1;
    }

    &-img {
      height: 100%;
    }
  }
}
