<nav class="Nav">
  <a href="https://mycrypto.com/" class="Nav-logo Nav-logo--mycrypto">
    <img class="Nav-logo-img" src="./assets/images/logo-mycrypto.svg"/>
  </a>
  <a
    href="https://simplex.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="Nav-logo Nav-logo--simplex"
  >
    <img class="Nav-logo-img" src="./assets/images/logo-simplex.png"/>
  </a>
</nav>
