<%- include('includes/header') %>

  <header class="Heading">
    <div class="Heading-nav">

    </div>

    <div class="Heading-intro">
  </header>

  <%- include('includes/app') %>

  <%- include('includes/faq') %>

<%- include('includes/footer') %>
